<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="POST">
        question
        <br>
        <textarea type="text" rows="7" cols="100"  id="question"></textarea>
        <br>
        answer
        <br>
        <textarea type="text" rows="17" cols="100" id="answer"></textarea>
        <br>
        deck
        <br>

        <select id="deck_id" name="deck">
            {% for deck in decks %}
                {% if default_deck_id  == deck['id'] %}
                    <option selected="selected" value="{{ deck['id'] }}">{{ deck['name'] }}</option>
                {% else %}
                    <option value="{{ deck['id'] }}">{{ deck['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select>

        <hr>
        <button type="button" id="save-btn">Save</button>


    </form>

<script>
    "use strict"

    window.onload = function () {
        document.getElementById('save-btn').onclick = function () {
            var question = document.getElementById('question').value;
            var answer = document.getElementById('answer').value;
            var deck_id = document.getElementById('deck_id').value;

            var params = 'question=' + question + '&answer=' + answer + '&deck_id=' + deck_id;
            sendRequest(params);
        };

        function sendRequest(data) {
            var http = new XMLHttpRequest();

            http.open('POST', '/flashcard/save_new/', true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200) {
                    //typeof callback === 'function' && callback(JSON.parse(http.responseText));
                    console.log(http.responseText);
                    if (http.responseText === 'success') {
                        window.location.href = "/"
                    }
                }
            };
            http.send(data);
        }
    }
</script>

</body>
</html>