<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

    <h1>Home</h1>

    <button onclick="location.href='/deck/create'">Add new deck</button>
    <button onclick="location.href='/flashcard/create/'">Add new flashcard</button>
    <br>
    <br>
    <br>

<div id="deck-list">
    {% for deck in decks %}

        {{ deck['id'] }}
        {{ deck['name'] }}
        <button class="watch-btn" data-id="{{ deck['id'] }}" type="button">Watch</button>
        <button type="button">Learn</button>
        <button class="update-btn" data-id="{{ deck['id'] }}" type="button">Update</button>
        <button class="delete-btn" data-id="{{ deck['id'] }}" type="button">Delete</button>
        <hr>
    {% endfor %}
</div>
    <script>

    window.onload = function () {

        // Handle button events
        document.querySelector('#deck-list').onclick = function (e) {
            var el = e.target;

            // Watch
            if (el.type === 'button' && el['className'] === 'watch-btn') {
                var id = el.dataset['id'];

                window.location.href = '/deck/watch/?id=' + id;
            }

            // Update
            if (el.type === 'button' && el['className'] === 'update-btn') {
                var id = el.dataset['id'];
                var action = 'update';

                window.location.href = '/deck/update/?id=' + id;

            }

            // Delete
            if (el.type === 'button' && el['className'] === 'delete-btn') {
                var id = el.dataset['id'];
                var action = 'delete';
                var params = {
                    'id': id,
                    'action': action
                };

                sendRequest(params);
            }


        };


        function sendRequest(params) {
            var http = new XMLHttpRequest();
            var data = params['id='] + id;
            var url = '/deck/' + params['action'];

            http.open('POST', url, true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200) {
                    //typeof callback === 'function' && callback(JSON.parse(http.responseText));
                    console.log(http.responseText);
                }
            };
            http.send(data);
        }

    }

    </script>
</body>
</html>