<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='highlightjs/styles/default.css') }}">
</head>
<body>
    Learning
    <hr>

    <div id="card"></div>

    <button id="flip-btn">Flip</button>
    <br><br>
    <button id="edit-btn">Edit</button>
    <br><br>

    <button id="prev-btn">Prev</button>
    <button id="next-btn">Next</button>
    <hr>

    <button id="again-btn">Again (2 hours)</button>
    <button id="hard-btn">Hard (1 day)</button>
    <button id="good-btn">Good (4 days)</button>
    <button id="easy-btn">Easy(7 days)</button>

<script type="text/javascript" src="{{ url_for('static', filename='highlightjs/highlight.pack.js') }}"></script>
<script>hljs.initHighlightingOnLoad();</script>
<script>
    "use strict";

    window.onload = function() {

        var currentCardId;
        var deck_id = findURLParam(window.location.href, 'deck_id');

        //repetition level
        const AGAIN     = 1;
        const HARD      = 2;
        const GOOD      = 3;
        const EASY      = 4;

        /*
            Process buttons
         */
        // Flipping Card
        document.getElementById('flip-btn').onclick = function flipCard() {
            if (window.showAnswer) {
                handleAnswer();
                window.showAnswer = false;
            } else {
                handleAnswer();
                window.showAnswer = true;
            }
        };


        // Next
        document.getElementById('next-btn').onclick = function getNextCard() {
            processCards(deck_id, currentCardId, 'give_next');
        };
        // Prev
        document.getElementById('prev-btn').onclick = function getPrevCard() {
            processCards(deck_id, currentCardId, 'give_prev');
        };

        // Answer
        document.getElementById('again-btn').onclick = function sendAnswer() {
            var params = 'card_id=' + currentCardId + '&level=' + AGAIN;
            sendRequest('/set_level', params);
        };
        document.getElementById('hard-btn').onclick = function sendAnswer() {
            var params = 'card_id=' + currentCardId + '&level=' + HARD;
            sendRequest('/set_level', params);
        };
        document.getElementById('good-btn').onclick = function sendAnswer() {
            var params = 'card_id=' + currentCardId + '&level=' + GOOD;
            sendRequest('/set_level', params);
        };
        document.getElementById('easy-btn').onclick = function sendAnswer() {
            var params = 'card_id=' + currentCardId + '&level=' + EASY;
            sendRequest('/set_level', params);
        };
        document.getElementById('edit-btn').onclick = function editCard() {
            var id = window.allCardData[0];
            window.location.href = '/flashcard/update/?id=' + id;
        };

        // Give first card
        // TODO не передавать card_id если action=give_first
        processCards(deck_id, 0, 'give_first');


        function processCards(deck_id, card_id, action) {

            var params = prepareParams(deck_id, card_id, action);
            sendRequest(params.url, params.request, function (card) {
                window.showAnswer = false;
                window.allCardData = card;

                var data = handleAnswer();
                // render('card', data);
            });
        }


        function prepareParams(deck_id, card_id, action) {
            var url = '/give_card/';
            var request = 'action=' + action + '&deck_id=' + deck_id + '&card_id=' + card_id;

            return {
                'url': url,
                'request': request
            }
        }

        function sendRequest(url, params, callback) {
            var http = new XMLHttpRequest();
            http.open('POST', url, true);
            http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            http.onreadystatechange = function() {
                if(http.readyState == 4 && http.status == 200) {
                    typeof callback === 'function' && callback(JSON.parse(http.responseText));
                }
            };
            http.send(params);
        }

        function render(elem_id, data) {
            if (data.length > 0) {
                console.dir(data[2]);

                var html = data[0] + '<br>' + data[1] + '<br><br><pre><code class="hljs python" id="card-answer">' + data[2] + '</code></pre>';
                //hljs.highlightBlock(document.getElementById("test"));
            } else {
                var html = data[0] + '<br>' + data[1] + '<br><br>';
            }

            document.getElementById(elem_id).innerHTML = html;
            hljs.highlightBlock(document.getElementById("card-answer"));
            currentCardId = data[0];
        }

        function findURLParam(url_string, paramName) {
            var url = new URL(url_string);

            return url.searchParams.get(paramName);
        }

        function handleAnswer() {
            var allCardData = window.allCardData;
            var cardWithoutAnswer = [allCardData[0], allCardData[1], ''];
            var cardWithAnswer = [allCardData[0], allCardData[1], allCardData[2]];

            if (window.showAnswer === true) {
                window.showAnswer = false;
                document.getElementById('card').innerHTML = "";
                render('card', cardWithAnswer)
                //return cardWithAnswer
            } else {
                window.showAnswer = true;
                document.getElementById('card').innerHTML = "";
                render('card', cardWithoutAnswer);
                //return cardWithoutAnswer
            }
        }
    };

</script>
</body>
</html>
