<html>
  <body>
    <h1>Add flashcard</h1>
    <form method="POST" action="/">
      <input type="text" name="question">
      <input type="submit" value="Add">
    </form>

    <h1>Flashcards</h1>
    <table>
      {% for flashcard in flashcards %}
        <tr>
          <td>
            {{flashcard.question}} 
          </td>
          <td>
            <form method="POST" action="./update" style="display: inline">
              <input type="hidden" value="{{flashcard.question}}" name="oldquestion">
              <input type="text" value="{{flashcard.question}}" name="newquestion">
              <input type="submit" value="Update">
            </form>
          </td>
          <td>
            <form method="POST" action="./delete" style="display: inline">
              <input type="hidden" value="{{flashcard.question}}" name="question">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
        {% endfor %}
    </table>
  </body>
</html>
