<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
</head>
<body>
    Learning page AJAX
    <hr>

    <div id="flashcard"></div>

    <br>
    <button id="prev-btn">Prev</button>

    <button id="know-btn">Good (1 day)</button>

    <button id="next-btn">Next</button>


<script src="/static/jquery.js"></script>
<script>

    (function getFlashcard() {
        var http = new XMLHttpRequest();
        var url = '/give_fcard';
        var params = 'current_fcard_id=3&deck_id=1';
        http.open('POST', url, true);

        http.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');

        http.onreadystatechange = function() {
            if(http.readyState == 4 && http.status == 200) {
                console.log(http.responseText);
                addFlashcart('flashcard', JSON.parse(http.responseText));

            }
        };
        http.send(params);
    })();

    function addFlashcart(elem_id, data) {
        var html = data[0] + ' ' + data[1] + ' ' + data[2];
        document.getElementById(elem_id).innerHTML = html;
    }



</script>
</body>
</html>