<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Learning</title>
</head>
<body>
    Learning page
    <br>
    {{ flashcard.id }}
    <br>
    {{ flashcard.question }}
    <br>
    {{ flashcard.answer }}
    <br>
    {{ flashcard.repetition_level }}
    <br>
    <button id="know-btn">Good (1 day)</button>


<script src="/static/jquery.js"></script>
<script>

    $('#know-btn').on('click', function() {
        var fcard_id = {{ flashcard.id }};
        var repetition_level = 1;
        var params = {
            'fcard_id': fcard_id,
            'repetition_level': repetition_level
        };

        $.post('/update_repetition_level', params,
            function(returnedData) {
                 console.log(returnedData);
        });
    });


    /*
    $.ajax({
        type: "POST",
        url: '/update_repetition_level',
        data: data,
        success: function (res) {
            console.log('success: ' + res);
        }
    });
    */

    /*
    $('#know-btn').on('click', function() {
        send('/update_repetition_level', data, function (res) {
            console.log(res);
        });
    });

    function send(uri, data, callback) {
        $.post(uri, data, callback, 'json');
    }
    */

</script>
</body>
</html>